.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(88, 105, 110);
  color: white;
}

#navItems{ 
  display: flex;
  justify-content: space-evenly;
  width: 20vw;
}

#navItems li{ 
  list-style-type: none;
  border-bottom: 1px solid white;
  padding-bottom: 7px;
}
